:root {
  --video-height: 80vh;
  --video-width: 80vw;
  --control-bar-height: 50px;
  --central-icon-size: 70px;
}

.player {
  width: var(--video-width);
  max-height: var(--video-height);
  background: #000;
  overflow: hidden;
  width: 80vw;
  height: 100%;
}

.player video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
}

.video-cover {
  height: calc(var(--video-height) - var(--control-bar-height));
  display: flex;
}

.left,
.right {
  width: 25%;
  height: 100%;
  display: inline;
}

.play {
  width: 50%;
  height: 100%;
  display: inline;
}

.control-bar {
  color: #fff;
  height: var(--control-bar-height);
}

.video-overlay {
  transform: translateY(calc(var(--video-height) * -1));
}

.left-icons {
  display: flex;
  width: 240px;
  }

.progress-bar {
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
  background: #333;
  display: flex;
}

.progress-bar-wrapper
{
    padding: 10px 0px;
}

.icon-bar{
    height: 48px;
    display: flex;
}

.time
{
    font-size: 14px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.currentTime{
    background: red;
    padding: 1px;
}

.bufferedTime
{
    padding: 1px;
    background: #adadad;
}

.central-icon{
font-size: var(--central-icon-size);
color: white;
position: relative;
margin-top: calc(var(--video-height)/2 - var(--central-icon-size)/2);
}


.right-icons
{
  display: flex;
  width: 180px;
  margin-left: auto;
}

.right-icons span,.left-icons span{
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-sizing: border-box;
}

.fullscreen{
  display: flex;
  align-items: center;
  justify-content: center;
}