:root {
  --video-height: 480px;
  --video-width: 860px;
  --control-bar-height: 50px;
}

.player {
  width: var(--video-width);
  max-height: var(--video-height);
  background: #000;
}

.player video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
}

.video-cover {
  height: calc(var(--video-height) - var(--control-bar-height));
  display: flex;
}

.left,
.right {
  width: 25%;
  height: 100%;
  display: inline;
}

.play {
  width: 50%;
  height: 100%;
  display: inline;
}

.control-bar {
  color: #fff;
  height: var(--control-bar-height);
  display: flex;
}

.video-overlay {
  transform: translateY(calc(var(--video-height) * -1));
}

.left-icons {
    display: flex;
    width: 114px;
    font-size: 19px;
    justify-content: space-around;
  }

